@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@400;700&display=swap");

/* Убираем отступы у body и html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #42473e; /* Цвет фона */
    overflow: hidden; /* Чтобы не было прокрутки */
}

/* Общий контейнер */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #42473e; /* Темный фон */
    color: white;
}

/* Логотип */
.logo {
    font-size: 2.5rem;
    font-family: "Aboreto", cursive;
    font-weight: normal;
    margin-bottom: 20px;
}

/* Форма */
.login-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
}

/* Поля ввода */
.login-form label {
    align-self: flex-start;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #d9d9d9;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

/* Кнопка */
.login-form button {
    width: 120px;
    padding: 12px;
    border: none;
    background: #d9d9d9;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
}

.login-form button:hover {
    background: #bfbfbf;
}
