.table-container {
    overflow-x: auto;
    max-width: 100%;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    width: 100%; /* растягивает контейнер под таблицу */
}

.main-table {
    width: 1400px; /* задаём фиксированную широкую ширину */
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    table-layout: auto;
}

